@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --purple: #635FC7;
  --light-purple: #A8A4FF;
  --dark-blue: #000112;
  --dark-gray: #20212C;
  --gray: #2B2C37;
  --light-gray: #3E3F4E;
  --muted-gray: #828FA3;
  --lightest-gray: #E4EBFA;
  --off-white: #F4F7FD;
  --white: #FFFFFF;
  --red: #EA5555;
  --light-red: #FF9898;
}

/* Typography Styles */
h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
}

h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}

p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

p.bold {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

/* Basic Styles */

body {
  background: var(--dark-gray);
  color: var(--white);
}
